@import "./styles/colors.scss";

.program {
  padding: 1rem;
  display: block;
  overflow: auto;
  .filters {
    margin: 2rem auto;
    text-align: center;
    @media only screen and (min-width: 767px) {
      margin: 4rem auto;
    }

    .buttons {
      display: inline-block;
      button:focus {
        outline: 0;
      }

      button {
        background-color: $color-quad;
        color: $color-primary;
        font-size: 1rem;
        font-family: "Nunito Sans", sans-serif;
        // font-family: 'Roboto', sans-serif;
        font-weight: 600;
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
      }

      button:hover {
        color: $color--bg-white;
        background-color: $color-primary;
      }
      button.is-checked {
        color: $color--bg-white;
        background-color: $color-primary;
      }

      button.styles {
        color: $color-primary;
        background-color: $color--bg-white;
        padding: 1rem;
        border-radius: 0;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
      }
      button.styles:hover {
        border-bottom: 3px solid $color-quad;
      }

      button.styles.is-checked {
        border-bottom: 3px solid $color-primary;
      }
    }
  }
  h4 {
    color: $color-primary-black;
  }
  p,
  h4.secondary {
    color: $color-primary;
  }
}

// Grid

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -2rem;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 2rem;
  background-clip: padding-box;
}
