.navButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 100%;

  cursor: pointer;
  font-weight: 700 !important;
  text-decoration: none; // Remove underline

  @media only screen and (max-width: 768px) {
    margin: 0.5rem 0.25rem;
  }

  .label {
    font-size: 18px;
    text-transform: capitalize;
    display: block;
    text-align: right;
    padding: 0.75rem;

    @media only screen and (max-width: 768px) {
      font-size: 20px;
      padding: 1rem 0.5rem;
    }

    font-weight: 300;
    text-decoration: none;
    color: $color-primary !important;
  }

  .label:hover {
    font-weight: 600;
  }

  .labelActive {
    font-size: 18px;
    text-transform: capitalize;
    display: block;
    text-align: right;
    padding: 0.75rem;
    font-weight: 600;
    text-decoration: none;
    color: $color-primary !important;

    @media only screen and (max-width: 768px) {
      padding: 0.5rem 0.25rem;
    }
  }
}
