.outline:focus,
.filled:focus,
.text:focus {
  outline: 0;
}

.outline:disabled,
.filled:disabled,
.text:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.text {
  background-color: $color--bg-white;
  color: $color-primary;

  a {
    // color: inherit;
    text-decoration: none;
  }

  font-size: 1.125rem;
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  border: 0;
  // margin: 0;
}

.text:hover {
  font-weight: bold;
}

.outline {
  background-color: $color--bg-white;
  color: $color-primary;
  font-weight: 600;
  a {
    // color: inherit;
    text-decoration: none;
  }

  font-size: 1.125rem;
  font-family: "Nunito Sans", sans-serif;

  padding: 0.5rem 1.5rem;
  // margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid $color-secondary;
  margin-right: 0.5rem;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-color 0.25s ease;
}

.outline:hover {
  border: 2px solid $color-primary;
}

.filled {
  background-color: $color-quad; // $color--bg-white;
  color: $color-primary;

  a {
    // color: inherit;
    text-decoration: none;
  }

  font-size: 1.125rem;
  font-family: "Nunito Sans", sans-serif;

  padding: 1rem 3rem;
  margin-bottom: 1rem;
  // border-radius: 0.5rem;
  border: 1px solid $color-quad;
  margin-right: 0.5rem;
  transition: color 0.25s ease, background-color 0.25s ease,
    border-color 0.25s ease;
}

.filled:hover {
  border: 1px solid $color-primary;
}

@media only screen and (max-width: 768px) {
  .outline {
    padding: 0.5rem 1rem;
    margin: 1rem;
  }

  .text {
    // padding: 1rem;
    margin: 1rem;
  }
}
