@import "colors";

.article-open {
  background: #ffffff;
  min-height: 80vw;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  h2 {
    font-size: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  img.article-photo {
    display: block;
    max-width: 100%;
    max-height: 75vh;
    height: auto;
    width: auto;
    margin: 0 auto;
    // margin-bottom: 2rem !important;
    transition: 0.1s ease-in-out all;
  }

  h3,
  p {
    margin-bottom: 0.5rem;
  }

  h3 {
    margin-top: 2rem;
  }

  ul {
    width: 100%;
    padding-left: 0.5rem;
    list-style: inside none;
  }
}

@media only screen and (min-width: 400px) {
  .article-open {
    width: 100%;
    padding: 1rem;
    // img.article-photo {
    //   width: 100%;
    //   height: auto;
    // }
    .icon-and-info {
      text-align: right;
      margin-left: 20%;
    }
  }
}

button.submit {
  background-color: $color-quad;
  color: $color-primary;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  // font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}
button.reset {
  background-color: $color--bg-white;
  color: $color-primary;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

button.submit:hover,
button.reset:hover {
  color: $color--bg-white;
  background-color: $color-primary;
}
textarea {
  min-height: 8rem;
}
