// @import "./styles/colors.scss";

#pilot {
  color: $color-primary;
  background-color: $color--bg-white;

  // padding: 3rem 0;
  // text-align: center;
  ul {
    list-style-position: inside;

    li {
      font-size: 1rem;
      line-height: 1.125rem;
      margin-bottom: 1.125rem;
      align-self: center;
    }
  }

  h2 {
    color: $color-primary;
  }

  h4,
  p {
    text-align: left;
  }

  .col {
    margin: 0 3rem !important;
  }

  img {
    // width: 100%;
    // height: 85vh;
    width: 100%;

    // padding: 2rem 0;
    @media only screen and (min-width: 767px) {
      // padding: 6rem 3rem;
    }
  }
}
