.footer {
  margin-top: 4rem;
  border-top: 1px solid $color-gray;
  color: $color-primary;
  background: $color--bg-white;

  p {
    margin: 2rem 0;
  }

  a:link {
    color: $color-secondary;
    text-decoration: underline;
  }
}