.magazineArticle {
  background: #ffffff;
  min-height: 80vw;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  @media (min-width: 600px) {
    img {
      max-width: 100%;
      max-height: 65vh;
      width: auto;
      margin-top: 1.5rem;
    }
  }
  p,
  h3 {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  @media (min-width: 600px) {
    p,
    h3 {
      margin: 1.125rem 0;
      font-size: 1.125rem;
      line-height: 1.425rem;
    }
  }

  h5 {
    margin: 0.75rem auto;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1rem;
  }

  p.subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-style: italic;
  }
}

a.backlink {
  text-decoration: none !important;
}

a.backlink:hover {
  text-decoration: underline;
}
