@import "./styles/colors.scss";

.article-info {
  margin: 1rem auto;
  padding-bottom: 2rem;
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
    transition: 0.1s ease-in-out all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 8px;
  }

  h4 {
    font-size: 1.125rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  h4.secondary {
    margin-bottom: 0.25rem;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  svg {
    vertical-align: top;
    margin-right: 0.333rem;
  }

  p {
    font-size: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }

  a,
  a:visited {
    color: $color-secondary;
    text-decoration: none;
  }
  a:hover {
    color: $color-secondary;
    text-decoration: underline;
  }
}
