.StudioCard {
  margin-bottom: 2rem;
  text-align: left;
}

.imgContainer {
  width: 100%;
  overflow: hidden;
  border: 1px solid $color--bg-white;
  border-radius: 0.5rem;
}

img.cardImg {
  width: 100%;
  margin: 0 auto;
  display: block;
  transition: 0.1s ease-in-out all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@keyframes burns {
  0% {
    transform: scale(1);
  }

  // 50% {
  //   transform: scale(1.125);
  // }
  // 51% {
  //   transform: scale(1);
  // }
  100% {
    transform: scale(1.125);
  }
}

img.cardImg:hover {
  animation: burns 12s;
}

h4.primary {
  font-size: 1.125rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  color: $color-primary-black;
}

h4.secondary {
  margin: 0.5rem 0;
  font-weight: 400;
  font-size: 1rem;
}

svg.Icon {
  vertical-align: top;
  margin-right: 0.4rem;
}

p.textMini {
  font-size: 1rem;
  margin: 0.75rem 0;
}
