$color-primary: #4b4b4b;
$color-primary-black: #222; //  #3f3f3f; //  #4b4b4b; // rgb(63, 63, 63);
$color-secondary: #ff4500; //  #ea148c;
$color-quad: #7fffd4;
$color--bg-white: #fff;

$color-gray: rgba(0, 0, 0, 0.1);
