$color-primary: #4b4b4b;
$color-primary-black: #222; //  #3f3f3f; //  #4b4b4b; // rgb(63, 63, 63);
$color-secondary: #c0fff4; //  #ea148c;
$color-quad: #ffc0cb;
$color--bg-white: #fff;

$color-gray: rgba(0, 0, 0, 0.1);
$color-light-gray: #dbdbdb; // https://maketintsandshades.com/#4b4b4b
