.emailStyles {
  background-color: #ffffff;
  padding: 2rem 1rem;

  h1 {
    font-family: Helvetica;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 1.25rem;
    color: #4b4b4b;
  }

  p {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    margin-bottom: 1rem;
    color: #4b4b4b;
    line-height: 1.125rem;
    font-size: 1rem;
  }

  li {
    font-family: Helvetica;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-weight: 300;
    line-height: 1.75rem;
    font-size: 1.125rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    color: #4b4b4b;
  }

  a.pinkbutton {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background-color: #ffc0cb;
    color: #4b4b4b;
    font-size: 1.125rem;
    font-family: Helvetica, sans-serif;
    padding: 1rem 2rem;
    border: 1px solid #ffc0cb;
  }

  #blockquote {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border: 0;
    border-left: 1px solid #4b4b4b;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    color: #4b4b4b;
    line-height: 1.125rem;
    font-size: 1rem;
  }
}
